  <main class="sky">
    <section class="card-bienvenida">
      <img class="echo" src="assets/img/bienvenida.png" alt="Echo saludando">

      <div class="texto">
        <h2>¡Hola! Soy Echo, un robot explorador.</h2>
        <p>He viajado desde muy lejos porque mis amigos robots están atrapados en diferentes lugares de Colombia.</p>
        <p><strong>¡Necesitan ayuda urgente!</strong> </p>
        <p>Un mapache travieso llamado Max me está persiguiendo y no me deja ayudarlos. </p>
        <p>Por eso busco a alguien como tú: curioso, valiente y con ganas de aprender a programar. </p>
        <p>Juntos, usando Scratch, podremos viajar por Colombia, superar retos y ¡rescatar a todos mis amigos robots! </p>
        <p>¿Te unes a esta gran aventura? </p>

        <a class="btn btn--start" routerLink="/login">🧭 Unirse a la aventura</a>
      </div>
    </section>
  </main>
