<main class="stage">
    <section class="panel">
        <figure class="comic" id="mini-root">
            <img class="scene" [src]="imgSrc" alt="Escena">

            <!-- Botón Empezar -->
            <a *ngIf="showEmpezar" class="btn-empezar" [routerLink]="nextLink">
                <img src="assets/img/empezar.png" alt="Empezar" />
            </a>

            <!-- Botón Finalizar -->
            <a *ngIf="showFinalizar" class="btn-final" [routerLink]="endLink" aria-label="Finalizar" (click)="finalizar()">
                <img src="assets/img/finalizar.png" alt="Finalizar" />
            </a>

            <!-- Botón Scratch / Volver -->
            <ng-container *ngIf="showScratch">
                <ng-template #btnVolver>
                    <a class="btn-scratch" aria-label="Ir a Scratch"
                        (click)="abrirScratch($event)">
                        <img src="assets/img/empezar.png" alt="Programar" />
                    </a>
                </ng-template>

                <div *ngIf="esMini; else btnVolver" class="btn-scratch">
                    <a class="btn-scratch" aria-label="Volver de Scratch" (click)="terminarYVolver()">
                        <img src="assets/img/atrás.png" alt="Volver" />
                    </a>
                </div>
            </ng-container>

            <!-- Botones Atrás / Siguiente -->
            <a *ngIf="showAtras" class="btn-atras" [routerLink]="prevLink" aria-label="Atrás">
                <img src="assets/img/atrás.png" alt="Atrás" />
            </a>

            <a *ngIf="showSiguiente" class="btn-sig" [routerLink]="nextLink" aria-label="Siguiente">
                <img src="assets/img/siguiente.png" alt="Siguiente" />
            </a>
        </figure>
    </section>
</main>