<main class="stage">
    <section class="panelPrincipal">

        <!-- Cabecera -->
        <header class="hero">
            <img class="avatar" src="assets/img/AvatarNiña.png" alt="Avatar del niño">
            <div>
                <h1 class="hello">¡Hola Agente!</h1>
                <p class="subtitle">Avanza paso a paso en tu misión 🚀</p>
            </div>
            <div class="stars-box">
                ⭐ <span id="totalStars"> {{completedModules}} </span>
            </div>
        </header>

        <!-- Módulos -->
        <div id="modulesList" class="modules">
            <article *ngFor="let m of modules" class="module-card">
                <img [src]="m.cover" [alt]="m.name" class="cover" />
                <h3 class="title">{{ m.name }}</h3>
                <p class="stars">{{ getStarsDisplay(m.id) }}</p>
                <a [routerLink]="m.href" class="btn">{{ getButtonLabel(m.id) }}</a>
            </article>
        </div>
        
        <button class="logout-btn" (click)="logout()">
            <img src="assets/img/logout.png" alt="Cerrar sesión">
        </button>
        
    </section>
</main>