<main class="sky">
  <section class="card">
    <h1>Crear Cuenta</h1>

    <!-- Success Alert -->
    <div
      *ngIf="showSuccessAlert"
      class="alert alert-success"
      style="margin-bottom: 20px; text-align: center"
    >
      <h3>¡Usuario Creado Exitosamente!</h3>
      <p>Tu cuenta ha sido creada correctamente.</p>
      <button
        class="btn btn--primary"
        type="button"
        (click)="navigateToLogin()"
        style="margin-top: 10px"
      >
        Continuar
      </button>
    </div>
    <!-- Error Alert -->
    <div
      *ngIf="errorMessage"
      class="alert alert-danger"
      style="margin-bottom: 20px"
    >
      {{ errorMessage }}
    </div>
    <form
      class="form"
      action="#"
      method="post"
      novalidate
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Nombre
      <div class="field">
        <label for="name"><span>Nombre</span></label>
        <input
          id="name"
          type="text"
          name="name"
          placeholder="Tu nombre"
          required
          formControlName="name"
        />
        <i
          style="color: tomato"
          *ngIf="
            registerForm.get('name')?.touched &&
            registerForm.get('name')?.invalid
          "
          >* Obligatorio</i
        >
      </div> -->

      <!-- Email -->
      <div class="field">
        <label for="email"><span>Email</span></label>
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Holaaaaaaaaaaa"
          required
          formControlName="email"
        />
        <i
          style="color: tomato"
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          "
          >* Introduce un email válido</i
        >
      </div>

      <!-- Password (el div ya no va dentro del label) -->
      <div class="field">
        <label for="password"><span>Contraseña</span></label>
        <div class="pw">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="JAJAJAJAJAJJAJAJ"
            minlength="8"
            required
            formControlName="password"
          />
          <i
            style="color: tomato"
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
            >* Mínimo 8 caracteres</i
          >
          <span class="pw-eye" aria-hidden="true"></span>
        </div>
      </div>

      <button
        class="btn btn--ghost"
        type="submit"
        formmethod="get"
        formaction="registro.html"
      >
        Crear
      </button>
    </form>
  </section>
</main>
