<main class="sky">
    <section class="wrap">
        <header class="hero-title">
            <h1>¡Bienvenido al laboratorio de las ideas locas, donde todo cobra vida!</h1>
        </header>

        <nav class="actions">
            <a class="btn btn--install" href="https://github.com/TinyCodersPUJ/Installer_TinyCoders/releases/download/v2.0/Installer_HardwareForEducation_v2.0.exe">⚙️ Instalar</a>
            <!-- Enlace directo a bienvenida.html -->
            <a class="btn btn--start" href="/bienvenida">🚀 Empezar</a>
        </nav>

        <div class="scene">
            <img class="characters" src="../../assets/img/portada1.png" alt="Personajes">
        </div>
    </section>
</main>