<main class="sky">
    <section class="wrap">
        <header class="hero-title">
            <h1>¡Bienvenido al laboratorio de las ideas locas, donde todo cobra vida!</h1>
        </header>

        <nav class="actions">

            <!-- Instalador -->
            <a class="btn btn--install"
                href="https://github.com/TinyCodersPUJ/Installer_TinyCoders/releases/download/v2.0/Installer_HardwareForEducation_v3.0.exe">
                🛠️ Descargar Instalador
            </a>

            <!-- Guía de instalación -->
            <a class="btn btn--install" routerLink="/Guia/101/1">
                📘 Instalar TinyCoders
            </a>

            <!-- Guía de inicio -->
            <a class="btn btn--install" routerLink="/Guia/102/1">
                🌟 ¿Cómo usar TinyCoders?
            </a>

            <!-- Login -->
            <a class="btn btn--start" routerLink="/login">
                🚀 Comenzar Aventura
            </a>
        </nav>


        <div class="scene">
            <img class="characters" src="assets/img/portada1.png" alt="Personajes">
        </div>
    </section>
</main>